label {
    float: left;
}
#semester label{
    margin-right: 10px;
}
.rows{
    display: block;
    float: left;
    width: 100%;
}
.colum {
    display: block;
    float: left;
}
#full{
    width: 100%;
    float: left;
    display: block;
    padding: 10px
}
#PARCIAL50{
    width: 50%;
    float: left;
    display: block;
    padding: 10px
}
#PARCIAL30{
    width: 30%;
    float: left;
    display: block;
    padding: 10px
}
#PARCIAL25{
    width: 25%;
    float: left;
    display: block;
    padding: 10px
}
#PARCIAL{
    width: 20%;
    float: left;
    display: block;
    padding: 10px
}
.radio{
    margin-left: 5px;
}