* {
    font-size: 1.02em;
}

body {
    height: auto;
    overflow: hidden;
}

main {
    margin-top: 0px;
    height: 90vh;
}

.panel a {
    color: white;
}

.panel {
    height: 90vh;
    margin-bottom: -20px;
}

.botones {
    width: 25%;
    height: 85vh;
    float: left;
    display: block;
    background-color: rgb(118, 83, 7);
    text-align: center;
    list-style: none;
}

.botones a {
    color: white;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-decoration: none;
}

.botones:hover {
    background-color: rgb(180,99,9);
}

.botones:active {
    background-color: yellow;
}

.botones_log {
    width: 150px;
    height: 30px;
    float: left;
    padding: 5px;
    display: block;
    background-color: rgba(180,99,9,1.00);
    text-align: center;
    list-style: none;
    z-index: 98;
    color: white;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    text-decoration: none;
}
    /******************************ASSESSMENT BODY**************************************/
.Container {
    width: 80%;
    height: 85vh;
    float: left;
    display: block;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    overflow: scroll;
}

.Title {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Title a {
    text-transform: uppercase;
}

.Info {
    display: block;
    height: 42px;
}

.SubInfo {
}

.INPUT {
    padding: 8px;
    float: left;
}

.BTN {
    text-align: left;
    padding: 5px;
    float: left;
    display: block;
    border-width: 5px;
    border-color: rgb(118, 83, 7);
}

.BTN:hover {
    background-color: gray;
    border-color: rgb(180,99,9);
}

#BTN1 {
    width: 30%;
}

#BTN2 {
    width: 100%;
    margin-left: 10px;
}
/******************************ASSESSMENT BODY**************************************/
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
    display: table;
}

section.ok {
    background-color: #555;
}

p {
    color: white;
    font-family: arial;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%,
  100%,
  20%,
  50%,
  80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
    /******************************ASSESSMENT BODY**************************************/